* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Jost';
    src: url('../style/font/Jost-Regular.ttf');
}

html,
body {
    width: 100%;
    height: 100%;
}
 
h2 {
    color: #000;
    text-align: center;
    font-family: Jost;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 5px;
    text-transform: uppercase;
}

h3 {
    color: rgba(0, 0, 0, 0.50);
    font-family: Manrope;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
}

header {
    display: flex;
    flex-direction: column;

    width: 1510px;
    margin: auto;

    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.radiowrapper {
    color: #A4A4A4;
}

header input[type=radio] {
	display: none;
}

header input[type=radio]:hover {
    color: #000;
}

#radiowrapper {
    display: flex;
    gap: 24px;
}

.panel {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.head {
    display: flex;
    justify-content: space-between;
    margin: 20px 40px;
}

.nav {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #EBEBEB;
    border-bottom: 1px solid #EBEBEB;
}

.nav a {
    color: #000;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;

    &:hover {
        border-bottom: 1px solid black;
        transition: all 2s ease;
    }
}

.nav a:last-child {
    color: red;
}

.nav-hover {
    display: none;
    justify-content: space-between;
    align-items: center; 
    background-color: #fff;
    height: 300px;
    margin: 24px 40px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.ll:hover .nav-hover {
    display: flex;
}

main {
    width: 1510px;
    margin: auto;

    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.breadcrumb {
    margin-left: 40px;
    margin-top: 20px;
}

ul {
    display: flex;
    gap: 5px;
    color: #A4A4A4;
}

li {
    list-style-type: none;
}

li a {
    color: #A4A4A4;
    text-decoration: none;
}

.settLeft,
.settRight {    
    border: solid 1px white;
}

.setting {
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
    padding: 10px;
}

.setting a {
    color: #000;
    text-decoration: none;
}

.settLeft {
    display: flex;
    gap: 16px;
}

.catalog {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 40px;
    gap: 6px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 350px;
    padding: 10px;

    &:hover {
        box-shadow: 0px 34px 34px 0px rgba(0, 0, 0, 0.15);
    }
}

.item:hover .heart {
    display: flex;
}

.heart {
    display: none;
    position: absolute;
    cursor: pointer;
    z-index: 4;
}

.heart:active img:last-child {
    background-image: url(../style/img/heart_selected.svg);
}

.item img:nth-child(2) {
    width: 350px;
    height: 420px;
}

.item p {
    text-align: center;
}

.item img:nth-child(3) {
    margin: 16px auto;
    width: 80px;
    height: 30px;
}

.item p:first-child {
    color: #000;
    text-align: center;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18.86px;
    letter-spacing: 0.16px;
}

.item p:nth-child(2) {
    color: #000;
    text-align: center;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18.86px;
}

.ctgFoot {
    margin: auto;
    gap: 16px;
    margin-top: 8px;
}

.btnAdd {
    margin: auto;
    width: 1430px;
}

.btnAdd a{
    display: flex;
    padding: 24px 661px;
    justify-content: center;
    align-items: center;

    text-decoration: none;

    border: solid 1px #EBEBEB;

    color: #000;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.btnAdd span {
    position: relative;
    left: 20.5px;
    top: 45px;

    color: rgba(0, 0, 0, 0.40);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

footer {
    background: #F0F0F0;
    width: 1512px;
    height: 583px;
    flex-shrink: 0;
    margin: 81px auto 0;
}

.rss {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 32px 0  0 40px;
}

.rssInput {
    display: flex;
    gap: 10px;
}

.rss a {
    color: #000;
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 133.333% */

    text-decoration: none;
}

.rss label {
    color: #000;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
    letter-spacing: 0.48px;
}

.rss input[type="text"] {
    display: flex;
    width: 573px;
    height: 54px;
    padding-left: 8px;
    border: none;
    border-bottom: 1px solid #A4A4A4;
    background: none;
    align-items: center;
}

.rss input[type="submit"] {
    display: flex;
    width: 143px;
    height: 54px;
    padding: 18px 0px 17px 0px;
    justify-content: center;
    align-items: center;
    background: #000;
    color: #F0F0F0;
    border: none;
}

.footMav {
    display: flex;
    justify-content: space-around;
    margin-top: 32px;
    margin-left: 40px;
}

.footMav a {
    color: #000;
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
    text-decoration: none;
}

.footItem {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 287px;
    height: 278px;
}

.foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 40px;
}

.foot,
.foot a {
    color: #8C8C8C;
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    text-decoration: none;
}

.social {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.socItem {
    display: flex;
    gap: 16px;
}

.copy {
    display: flex;
    gap: 16px;
}

.pay {
    display: flex;
    gap: 16px;
}

.headMini {
    display: none;
}


.settingMini {
    display: none;
}

.work,
.info {
    display: none;
}

@media screen and (min-width: 0px) and (max-width: 375px) {
    h2 {
        color: #000;
        text-align: center;
        font-family: Jost;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 3px;
        text-transform: uppercase;
    }
    
    h3 {
        color: #000;
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 23.018px; /* 164.414% */
    }
    
    header {
        display: flex;
        flex-direction: column;
    
        width: 350px;
        height: 56px;
        margin: auto;
    
        font-family: Jost;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .headMini {
        display: flex;
        justify-content: space-between;
        margin: 16px 12px;
    }

    .panelMini {
        display: flex;
        gap: 15px;
    }
    
    .flex {
        display: flex;
    }
    
    .head {
        display: none;
    }

    .nav {
        display: none;
    }
    main {
        width: 350px;
        margin: auto;
    
        font-family: Jost;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    .breadcrumb {
        display: none;
    }
    
    ul {
        display: flex;
        gap: 5px;
        color: #A4A4A4;
    }
    
    li {
        list-style-type: none;
    }
    
    li a {
        color: #A4A4A4;
        text-decoration: none;
    }
    
    .setting {
        display: none;
    }
    
    .settingMini {
        width: 350px;
        margin: auto;
        margin-top: 20px;
    }

    .settingMini a {
        padding: 14px; 
        border: solid 1px #EBEBEB;
    }
        
    .catalog {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 20px 0px;
    }
    
    .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: solid 1px #EBEBEB;
        width: 170px;
    }
    
    .item img:first-child {
        display: flex;
        justify-content: center;
        width: 170px;
        height: 170px;
    }
    
    .item p {
        text-align: center;
    }
    
    .item img:nth-child(2) {
        margin-top: 16px;
        width: 80px;
        height: 30px;
    }
    
    .item p:first-child {
        color: #000;
        text-align: center;
        font-family: Manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 18.86px;
        letter-spacing: 0.16px;
    }
    
    .item p:nth-child(2) {
        color: #000;
        text-align: center;
        font-family: Manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 18.86px;
    }
    
    .ctgFoot {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 8px;
    }
    
    .btnAdd {
        margin: auto;
        width: 350px;
    }
    
    .btnAdd a{
        display: flex;
        padding: 16px 0px;
        justify-content: center;
        align-items: center;
        align-self: stretch;
    
        text-decoration: none;
    
        border: solid 1px #EBEBEB;
    
        color: #000;
        font-family: Manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    
    .btnAdd span {
        position: relative;
        left: 20.5px;
        top: 35px;
    
        color: rgba(0, 0, 0, 0.40);
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    
    footer {
        background: #F0F0F0;
        width: 375px;
        height: 650px;
    }
    
    .rss {
        display: flex;
        flex-direction: column;
        padding: 24px 0 0 12px;
    }
    
    .rssInput {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    
    .rss a {
        color: #000;
        font-family: Manrope;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px; /* 133.333% */
    
        text-decoration: none;
    }
    
    .rss label {
        color: #000;
        font-family: Manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px; /* 150% */
        letter-spacing: 0.48px;

        width: 350px;
    }
    
    .rss input[type="text"] {
        display: flex;
        width: 350px;
        height: 54px;
        padding-left: 8px;
        border: none;
        border-bottom: 1px solid #A4A4A4;
        background: none;
        align-items: center;
    }
    
    .rss input[type="submit"] {
        display: flex;
        width: 350px;
        height: 54px;
        padding: 18px 0px 17px 0px;
        justify-content: center;
        align-items: center;
        background: #000;
        color: #F0F0F0;
        border: none;
    }
    
    .footMav {
        display: none;
    }
    
    .foot {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        margin: 20px;
    }
    
    .foot,
    .foot a {
        color: #8C8C8C;
        font-family: Manrope;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        text-decoration: none;
    }
    
    .social {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    
    .socItem {
        display: flex;
        gap: 16px;
    }
    
    .copy {
        display: flex;
        gap: 16px;
    }
    
    .pay {
        display: flex;
        gap: 16px;
    }

    .work,
    .info {
        display: block;
    }

    .info p,
    .work p {
        color: #787878;
        font-family: Manrope;
        font-size: 11px;
        font-style: normal;
        font-weight: 500;
        line-height: 15.345px; /* 139.502% */
    }

    .info b,
    .work b {
        color: #000;
        font-family: Manrope;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 15.345px; /* 118.041% */
    }
}